<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Request</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <!-- title -->
      <div class="title">
        <h1>Request</h1>
      </div>
         <!-- Site Description -->
    <div class = "Description">
<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac ex vulputate, tempor quam non, ullamcorper est. </br> 
    Phasellus faucibus porta tortor, vel lacinia leo dapibus at. In fringilla porta ipsum, quis vulputate nunc dictum vel. Etiam sodales aliquam bibendum.</h3>
      </div>
<div class = "imgs">
<!--     <a href="">
        <img src="your image here" alt=""> -->  
</div>
  </body>
</html>