<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Request</title>
</head>
<body>
    <div class="header">
        <img  src="https://ubisoft-avatars.akamaized.net/a3c1a636-db47-4751-941b-1acc538932de/default_256_256.png" alt="">
        <!-- ==== Name of User ==== -->
        <% if (user && user.email) { %>
        <h1>Hi <%= user.name %></h1>
    <hr>
            <% } else { %>
              You're not logged in. </h2>
              <a href="/logIn">Log in</a>
              <% } %>
      </div>
       <!-- ==== Profile Buttons ==== -->
    <div class="topnav">
        <button id="1" class="button">Info</button>
        <button id="2" class="button">Feedback</button>
        <button id="3" class="button">Last Sub</button>
          </div>
          <div id = "info" class = "content">
              <h2>Heading</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac ex vulputate, tempor quam non, ullamcorper est.
                Phasellus faucibus porta tortor, vel lacinia leo dapibus at. In fringilla porta ipsum, quis vulputate nunc dictum vel. Etiam sodales aliquam bibendum.</h3>
          </div>
        <div id = "feedBack" class = "content">
            <h2>Name</h2>
            <!-- ==== Stars Imgs ==== 
            <img src=".png" alt="Sub img"/> 
            -->
        </div>
        <div id = "lastSub" class = "content">
              <!-- ==== Sub Img ==== 
       <img src=".png" alt="Sub img"/> -->
            <h2>Title Sub</h2>
            <h3>Type:</h3>
        </div>
    <!-- Scripts -->
   
</body>
  <script src="./jquery-3.5.1.js"></script>
    <script src="./profile.js"></script>
</html>